.quiz-question {
  padding-top: 90px;

  .question-text {
    font-size: 30px;
    text-align: center;
  }
  .options-container {
    margin-top: 25px;
    margin-bottom: 30px;

    .option {
      background-color: #2d375d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 10px;

      &:hover {
        position: relative;
        top: 2px;
        background-color: #36416e;
      }

      .option-text {
        padding: 12px 20px;
        font-size: 20px;
      }
    }

    .option.selected-option {
      background-color: #7c2e69;
    }
  }

  .quiz-progress {
    margin: 20px;
  }
}
